<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://<%-url%>/dist/main.css">
	<title>Gallery</title>
</head>
<body>
<div id="App"></div>
<script type="text/javascript" src='http://<%-url%>/dist/index.js'>

</script>
</body>
</html>